.search {
  width: 500px;
  background-color: lightgray;
  padding: 20px 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: 1px;
  border-radius: 15px;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}